body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* 1.0 Background */

.bg-image {
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

    /* Add the blur effect
    filter: blur(8px);
    -webkit-filter: blur(8px);
     */
}

/* Images used */
.img1 { background-image: url(/images/Chiori.full.4108251.jpg); }
.img2 { background-image: url(/images/wedding1.jpg); }
.img3 { background-image: url(/images/Alpha.\(Kage.No.Jitsuryokusha.Ni.Naritakute\).full.3881298.png); }
.img4 { background-image: url(/images/Beta.\(Kage.No.Jitsuryokusha.Ni.Naritakute\).full.3881378.jpg); }
.img5 { background-image: url(/images/Delta.\(Kage.No.Jitsuryokusha.Ni.Naritakute\).full.3881378.jpeg); }
.img6 { background-image: url(/images/Epsilon.\(Kage.No.Jitsuryokusha.Ni.Naritakute\).full.3983211.png); }

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  
}

/* 2.0  center content */
.content {
  max-width: 300px;
  margin: auto;
  padding: 10px;
}


/* 3.0  Float 2 columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;

}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  transform: translate(0%, 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  padding: 16px;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0, 0.4); 


  position: relative;
  bottom: -600px;
}

/* 4.0 Navigation */

#mySidenav a {
  position: absolute;
  left: -130px;
  transition: 0.3s;
  padding: 15px;
  width: 160px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#welcome {
  top: 20px;
  background-color: #b2b1b1;
}

#ourstory {
  top: 80px;
  background-color: #b2b1b1;
}

#bridegroom {
  top: 140px;
  background-color: #b2b1b1;
}

#weddingparty {
  top: 200px;
  background-color: #b2b1b1;
}

#ceremony{
  top: 260px;
  background-color: #b2b1b1;
}

#seating {
  top: 320px;
  background-color: #b2b1b1;
}

#bday15 {
  top: 380px;
  background-color: #b2b1b1;
}

#happy15 {
  top: 445px;
  background-color: #b2b1b1;
}

#ty {
  top: 505px;
  background-color: #b2b1b1;
}


  /*
  
  change background on scroll
  parallax scolling
  sticky navbar
  hero image
  transparent image text

  split screen
  center image
  coming soon
  full screen video background
  Shrink Menu on Scroll
  Blurred Background Image

  */