  body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color:hsla(0, 0%, 96%, 0.622);
    background-color: rgb(95, 73, 91);
    
  }

  /* 1.0  */

  #header {
    background-image: url("/images/_MG_8000.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f1f1f1;
    padding: 50px 10px;
    color: rgb(224, 172, 216);
    text-align: center;
    font-size: 90px; 
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.4s;

  }

  /* 2.0 Navigation  */

  div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: rgb(224, 172, 216);
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }